body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}


.basket-section {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #faf3e0;
}


.cart-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}


.cart-items {
  width: 70%;
  background-color: #f4e1c1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  background-color: #fff8e1;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 15px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h4 {
  margin: 0;
  color: #4e3b31;
}

.cart-item-info p {
  color: #6f4f28;
  margin: 5px 0;
}

.cart-item-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.quantity-controls {
  display: flex;
  gap: 10px;
}

.quantity-controls button {
  background-color: #bfa57b;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-controls button:hover {
  background-color: #9e8b66;
}

.delete-btn {
  background-color: #d47956;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c25b43;
}


.cart-summary {
  width: 30%;
  background-color: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-summary h3 {
  color: #4e3b31;
  margin-bottom: 10px;
}

.summary-details p {
  color: #6f4f28;
  margin: 5px 0;
}

.summary-details strong {
  color: #4e3b31;
}

.checkout-btn {
  background-color: #6f4f28;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #5d4021;
}

.deleted-items-section {
  margin-top: 20px;
  text-align: center;
}

.restore-btn {
  background-color: #bfa57b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restore-btn:hover {
  background-color: #9e8b66;
}

.cart-items p {
  text-align: center;
  font-size: 18px;
  color: #4e3b31;
  font-weight: bold;
}
